<!DOCTYPE html>
<html ng-app="gameApp">
<head>
    <meta charset="utf-8">
    <title>vision test</title>
	<link rel="stylesheet" href="css/play.css" />
	<script type="text/javascript" src="lib/jquery-2.2.4.js"></script>
	<script type="text/javascript" src="lib/angular.js"></script>
	<script>
		var app = angular.module('gameApp', []);
	</script>
	<script type="text/javascript" src="base.js"></script>

	<script id="recursion" type="text/ng-template">
		<div ng-if="data.index>0" style="border:{{data.index}}px {{color}} solid;padding:10px;" ng-include="'recursion'"  ng-init="data=levels[data.index]">{{index}}</div>
	</script>

	<script id="myTemplate" type="text/ng-template">  
	   <!-- 你要显示的内容，例如 -->  
	   <div>a:{{data.a}}</div>  
	   <div>b:{{data.b}}</div>  
	   <!-- 递归 -->  
	   <div ng-if="data.child" ng-include="'myTemplate'" ng-init="data=data.child"></div> 
	</script>  

	<script id="example" type="text/ng-template">
		example-{{recursion}}
	</script>
	 
</head>
<body ng-controller="searchCtrl">

	<div ng-include="'recursion'" ng-init="data=levels[max_div]" style="border:{{levels[max_div].index}}px {{color}} solid;padding:10px;"></div>
	<div recursion='example'>hello</div>
	<script type="text/javascript">
		var appModule = angular.module('gameApp').directive('recursion',function($compile,$templateCache){
			var directive =  {
				restrict:'A',
		        scope: {'recursion':'='},
		        link : function(scope, element, attrs) {
		            directive.template = $templateCache.get(attrs.recursion);
		        }
			};
			return directive;
		});
		angular.module('gameApp').controller('searchCtrl', function($scope,$timeout) {
			var max_div = 9; 
			var levels = [];
			for(var i = 0; i <= max_div; i ++ ){
				levels.push({index:i-1});
			}
			$scope.max_div = max_div;
			$scope.levels = levels;
			$scope.color = 'green';
			$scope.myData = { a: 123, b: 456, child: { a: 789, b: "hello" } } 
		});
	</script>
</body>
</html>
